<script setup>
import Person from './Person.vue';

const props = defineProps(['cast']);
</script>

<template>
  <div class="person-row">

    <Person v-for="person in cast" :key="person.nconst" :person="person" />

  </div>
</template>


<style scoped>
.person-row {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
</style>