<script setup>
const props = defineProps(['film']);

</script>

<template>
  <router-link :to="{ name: 'movie', params: { id: film.tconst } }" class="film-poster">
    <img src="@/assets/Polyfilm.png" :alt="film.title" />
    <h3>{{ film.titleFR || film.primaryTitle }}</h3>
    <h4>{{ film.startYear }}</h4>
  </router-link>
</template>


<style scoped>
.film-poster {
  width: 20%;
  margin: 20px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  border: 1px solid #e6007e;
  border-radius: 25px;
}

img {
  width: 70%;
}
</style>