<script setup>
import FilmPoster from './FilmPoster.vue';

const props = defineProps(['films']);
</script>

<template>
  <div class="film-row">

    <FilmPoster v-for="film in films" :key="film.tconst" :film="film" />

  </div>
</template>


<style scoped>
.film-row {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
</style>