<script setup>
import { h, ref, onMounted } from 'vue';
import router from '@/router/index.js'
import { Range } from 'vue-range-multi'
import Multiselect from 'vue-multiselect'
import 'vue-range-multi/style.css'

const searchQuery = ref('');
const dateRange = ref([1895, 2024]);
const chosenStyles = ref([]);
const stylesList = ref([]);
const chosenPersons = ref([]);
const personsList = ref([]);
const isLoading = ref(false);

const listOrder = [
    { 'nom': 'Les mieux notés', croissant: false, order: 'averageRating' },
    { 'nom': 'Les moins bien notés', croissant: true, order: 'averageRating' },
    { 'nom': 'Les plus vus', croissant: false, order: 'numVotes' },
    { 'nom': 'Les moins vus', croissant: true, order: 'numVotes' },
    { 'nom': 'Les plus récents', croissant: false, order: 'startYear' },
    { 'nom': 'Les plus anciens', croissant: true, order: 'startYear' },
    { 'nom': 'Les plus longs', croissant: false, order: 'runtimeMinutes' },
    { 'nom': 'Les plus courts', croissant: true, order: 'runtimeMinutes' }
];

const chosenOrder = ref();


async function searchMovies() {
    router.push({ path: '/search', query: { q: searchQuery.value } });

}

async function criteriaSearchMovies() {
    let title = searchQuery.value;
    let dateMin = Math.min(...dateRange.value);
    let dateMax = Math.max(...dateRange.value);
    let genres = chosenStyles.value.map(style => style.idGen);
    let personnes = chosenPersons.value.map(personne => personne.nconst);
    let order = chosenOrder.value?.order;
    let croissant = chosenOrder.value?.croissant;

    let query = { title, dateMin, dateMax, genres, personnes, order, croissant };

    router.push({ path: '/search', query: query });

}

async function getStylesList() {
    try {
        const response = await fetch('http://localhost:3000/movies/getAllStyles', { credentials: 'include' });

        if (response.ok) {
            const data = await response.json();

            if (data) {
                stylesList.value = data;
            }
        } else {
            const errorData = await response.json();
            console.error('Error:', response.status, errorData);
        }
    } catch (error) {
        console.error('Error during API call:', error);
    }
}

async function searchPerson(query) {
    isLoading.value = true;
    try {
        const params = new URLSearchParams({ name: query });
        const response = await fetch(`http://localhost:3000/person/search?${params.toString()}`, { credentials: 'include' });

        if (response.ok) {
            const data = await response.json();

            if (data) {
                personsList.value = data;
                isLoading.value = false;
            }
        } else {
            const errorData = await response.json();
            console.error('Error:', response.status, errorData);
        }
    } catch (error) {
        console.error('Error during API call:', error);
    }

}

onMounted(() => {
    getStylesList();
});

</script>

<template>
    <form @submit.prevent="criteriaSearchMovies">
        <input v-model="searchQuery" type="text" placeholder="Exemple : Cars">
        <button>Rechercher</button>
    </form>
    <div class="critere">
        <div>
            <p>Date :</p>
            <Range v-model="dateRange" :rangeHighlight="true" :min="1895" :max="2035"
                :renderTop="(data) => h('div', data)" />
            <p>Styles</p>
            <Multiselect v-model="chosenStyles" :options="stylesList" placeholder="Choisissez un style" label="nom"
                track-by="idGen" :multiple="true"></Multiselect>
        </div>
        <div>
            <p>Acteurs, réalisateurs...</p>
            <Multiselect v-model="chosenPersons" :options="personsList" :searchable="true" placeholder="Entrez un nom"
                label="nom" track-by="nconst" :multiple="true" @search-change="searchPerson" :loading="isLoading">
            </Multiselect>
            <p>Trier par</p>
            <Multiselect v-model="chosenOrder" :options="listOrder" placeholder="Trier par" label="nom"></Multiselect>
        </div>

    </div>
</template>

<style scoped>
div.critere {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div {
    flex-basis: 48%;
}

input {
    display: block;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: var(--color-background);
    color: var(--color-text);
    flex-grow: 2;
    border-radius: 5px;
}


form {
    margin: 10px auto;
    width: 45%;
    display: flex;
    flex-direction: row;
    border: 1px solid #e6007e;
    border-radius: 5px;
}


input:focus {
    outline: none;
}

form:focus-within {
    outline: none;
}

button {
    border: 1px solid #e6007e;
    background: #e6007e;
    /* color: var(--color-text); */
    border-radius: 0 4px 4px 0;
}

.m-range-theme {
    --c-primary: #E6007E;
    /* primary color */
    --c-fill: #E4E7ED;
    /* track's fill color */
    --c-fill-stop: #F5F5F5;
    /* stop's fill color */
    --c-fill-thumb: #fff;
    /* thumb's fill color */
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;

}
</style>

<style src="vue-multiselect/dist/vue-multiselect.css"></style>