<script setup>
import { onMounted, ref } from 'vue';
import Header from '../components/Header.vue';
import FilmRow from '../components/FilmRow.vue';
import SearchBar from '../components/SearchBar.vue';

let films = ref([]);

const fetchFilms = async () => {
  try {
    const response = await fetch('http://localhost:3000/movies/topmovies', { credentials: 'include' });
    if (response.ok) {
      films.value = await response.json();
      console.log(films.value);
    } else {
      console.error('Erreur lors du chargement des films:', response.status);
    }
  } catch (error) {
    console.error('Erreur lors de la récupération des films:', error);
  }
};

onMounted(fetchFilms);
</script>

<template>
  <Header>
  </Header>
  <div>
    <h1>Recherchez votre film</h1>
    <SearchBar></SearchBar>
    <FilmRow :films="films"></FilmRow>
  </div>
</template>

<style scoped>
div {
  margin: 20px;
  padding: 5px;
}
</style>

