<script setup>
import Header from '@/components/Header.vue'
import router from '@/router/index.js'


let login = '';
let password = '';
function submit() {
    const request = fetch("http://localhost:3000/user/login", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        credentials: 'include',
        body: JSON.stringify({ username: login, password: password })
    }).then(response => {
        if (response.status == 200) {
            router.push('/');
        } else {
            alert("Erreur de connexion");
        }
    })

}


</script>

<template>
    <Header>
    </Header>
    <div class="container">
        <div class="formulaire">
            <h1>Se connecter</h1>
            <form @submit.prevent="submit">
                <label for="login">Nom d'utilisateur : </label>
                <input type="text" placeholder="Nom d'utilisateur" id="login" v-model="login">
                <br>

                <label for="password">Mot de passe : </label>
                <input type="password" placeholder="Mot de passe" id="password" v-model="password">
                <br>

                <button type="submit" name="submit">Se connecter</button>
            </form>
        </div>
    </div>
</template>

<style scoped>
.container {
    display: flex;
    justify-content: center;
}

.formulaire {
    margin: 50px;
    padding: 20px;
    border: 1px solid #e6007e;
    border-radius: 25px;
}


form label {
    display: block;
    margin: 10px 0;
    font-size: 20px;

}

form input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #e6007e;
    border-radius: 5px;
    outline: none;
    background-color: var(--color-background);
    color: var(--color-text);
}


form button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #e6007e;
    background-color: var(--color-background);
    color: var(--color-text);
}

form button:hover {
    background-color: var(--color-background-soft);

}
</style>