<script setup>
import Header from '@/components/Header.vue'
import FilmRow from '@/components/FilmRow.vue'
import { ref, onMounted } from 'vue';


let username = ref('');
let firstname = ref('');
let lastname = ref('');
let birthdate = ref('');
let mesFilmsVus = ref([])
let reco = ref([]);

function getUserInfo() {
    const req = fetch('http://localhost:3000/user', { credentials: 'include' }).then(response => {
        if (response.ok) {
            return response.json();
        }
    }).then(data => {
        if (data) {
            username.value = data.username;
            firstname.value = data.firstname;
            lastname.value = data.lastname;
            birthdate.value = data.birthdate;
        }

    }).catch(erreur => {
        console.error('Erreur lors de l\'appel API :', erreur);
        isConnected.value = false;
    });

}


function getRecommandation() {
    const req = fetch('http://localhost:3000/user/recommandation', { credentials: 'include' }).then(response => {
        if (response.ok) {
            return response.json();
        }
    }).then(data => {
        if (data) {
            console.log(data);
            reco.value = data;
        }

    }).catch(erreur => {
        console.error('Erreur lors de l\'appel API :', erreur);
        isConnected.value = false;
    });

}


async function fetchSeenMovies() {

    try {
        const response = await fetch('http://localhost:3000/user/seenMovies', { credentials: 'include' });

        if (response.ok) {
            const data = await response.json();

            if (data) {
                console.log(data);
                mesFilmsVus.value = data;
            }
        } else {
            const errorData = await response.json();
            console.error('Error:', response.status, errorData);
        }
    } catch (error) {
        console.error('Error during API call:', error);
    }
}
onMounted(() => {
    getUserInfo();
    fetchSeenMovies();
    getRecommandation();
});

</script>

<template>
    <Header>

    </Header>
    <div class="container">
        <div class="infoUtilisateur">
            <h1>Mes informations</h1>
            <p>Nom : {{ lastname }}</p>
            <p>Prénom : {{ firstname }}</p>
            <p>Date de naissance : {{ new Date(birthdate).toLocaleDateString() }}</p>
            <br>
            <button>Changer de nom d'utilisateur</button>
            <button>Changer de mot de passe</button>
        </div>

        <h1>Recommandations</h1>
        <FilmRow :films="reco"></FilmRow>
        <h1>Films préférés :</h1>
        <FilmRow :films="mesFilmsVus"></FilmRow>
    </div>
</template>

<style scoped>
div.container {
    margin: 20px;
    padding: 5px;
}

div.infoUtilisateur {
    margin: 10px;
    padding: 20px;
    border: 1px solid #e6007e;
    border-radius: 25px;
    text-align: center;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #e6007e;
    background-color: var(--color-background);
    color: var(--color-text);
}

button:hover {
    background-color: var(--color-background-soft);

}

p {
    font-size: 20px;
}
</style>