<script setup>
import StarRating from 'vue-star-rating';
import Header from '@/components/Header.vue';
import CastRow from '@/components/CastRow.vue';
import { ref, onMounted, watch } from 'vue';
import { useRoute } from 'vue-router';
import router from '@/router/index.js'

const route = useRoute();


let originalTitle = ref('');
let frTitle = ref('');
let annee = ref('');
let duree = ref('');
let note = ref('');
let nbNotes = ref('');
let rating = ref();

async function getRateUser() {
    const params = new URLSearchParams({ id: route.params.id });
    try {
        const response = await fetch(`http://localhost:3000/movies/getMovieNote?${params.toString()}`, { credentials: 'include' });

        if (response.ok) {
            const data = await response.json();

            if (data && data.length != 0) {
                console.log(data);
                rating.value = data.note;
            }
        } else {
            const errorData = await response.json();
            console.error('Error:', response.status, errorData);
        }
    } catch (error) {
        console.error('Error during API call:', error);
    }
}


watch(rating, async (rating) => {
    console.log(rating);
    const params = new URLSearchParams({ id: route.params.id, note: rating });
    try {
        const response = await fetch(`http://localhost:3000/movies/addmovienote?${params.toString()}`, { credentials: 'include' });

        if (!response.ok) {
            const errorData = await response.json();
            console.error('Error:', response.status, errorData);
            router.push('/connexion');
        }
    } catch (error) {
        console.error('Error during API call:', error);
    }
})


async function getFilmInfo() {

    try {
        const response = await fetch('http://localhost:3000/movies/' + route.params.id, { credentials: 'include' });

        if (response.ok) {
            const data = await response.json();

            if (data) {
                originalTitle.value = data.primaryTitle;
                frTitle.value = data.titleFR;
                annee.value = data.startYear;
                duree.value = data.runtimeMinutes;
                note.value = data.averageRating;
                nbNotes.value = data.numVotes;
            }
        } else {
            const errorData = await response.json();
            console.error('Error:', response.status, errorData);
        }
    } catch (error) {
        console.error('Error during API call:', error);
    }
}

onMounted(() => {
    getFilmInfo();
    getCast();
    getRateUser();
    getStyles();
    console.log(rating.value);
});
let cast = ref([]);
let styles = ref([]);


async function getStyles() {

try {
    const response = await fetch('http://localhost:3000/movies/styles/' + route.params.id, { credentials: 'include' });

    if (response.ok) {
        const data = await response.json();

        if (data) {
            console.log(data);
            styles.value = data;
        }
    } else {
        const errorData = await response.json();
        console.error('Error:', response.status, errorData);
    }
} catch (error) {
    console.error('Error during API call:', error);
}
}


async function getCast() {

    try {
        const response = await fetch('http://localhost:3000/movies/cast/' + route.params.id, { credentials: 'include' });

        if (response.ok) {
            const data = await response.json();

            if (data) {
                console.log(data);
                cast.value = data;
            }
        } else {
            const errorData = await response.json();
            console.error('Error:', response.status, errorData);
        }
    } catch (error) {
        console.error('Error during API call:', error);
    }
}

</script>

<template>
    <Header>
    </Header>
    <div class="tout">
        <div class="container">
            <div class="infoFilm">
                <h1> {{ frTitle || originalTitle }}</h1>
                <h2>Date de sortie : {{ annee }}</h2>
                <h2>Durée : {{ duree }} minutes</h2>
                <h2>Note : {{ note }}</h2>
                <h2>Votre note :</h2>
                <div class="etoile">
                    <star-rating v-model:rating="rating" />
                </div>
                <h2>Genres du film :</h2>
    <p v-for="style in styles">{{ style.nom }}</p>
                

            </div>
        </div>
        <h2>Distribution : </h2>
        <CastRow :cast="cast"></CastRow>
    </div>
</template>

<style scoped>
div.tout {
    margin: 20px;
    padding: 10px;
}
div.container {
    display: flex;
    justify-content: center;
}

div.infoFilm {
    margin: 10px;
    padding: 20px;
    border: 1px solid #e6007e;
    border-radius: 25px;
    text-align: center;
}

div.etoile {
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
