<script setup>
import Header from '@/components/Header.vue'
import FilmRow from '@/components/FilmRow.vue'
import { ref, onMounted } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute();


let nom = ref('');
let prenom = ref('');
let birthYear = ref('');
let deathYear = ref('');
let profession = ref('');


async function getPersonInfo() {

    try {
        const response = await fetch('http://localhost:3000/person/' + route.params.id, { credentials: 'include' });

        if (response.ok) {
            const data = await response.json();

            if (data) {
                nom.value = data.nom;
                prenom.value = data.prenom;
                birthYear.value = data.birthYear;
                deathYear.value = data.deathYear;
                profession.value = data.primaryProfession;
            }
        } else {
            const errorData = await response.json();
            console.error('Error:', response.status, errorData);
        }
    } catch (error) {
        console.error('Error during API call:', error);
    }
}

onMounted(() => {
    getPersonInfo();
    getMovieByPerson();
});

let movies = ref([])

async function getMovieByPerson() {

    try {
        const response = await fetch('http://localhost:3000/person/movies/' + route.params.id, { credentials: 'include' });

        if (response.ok) {
            const data = await response.json();

            if (data) {
                console.log(data);
                movies.value = data;
            }
        } else {
            const errorData = await response.json();
            console.error('Error:', response.status, errorData);
        }
    } catch (error) {
        console.error('Error during API call:', error);
    }
}

</script>

<template>
    <Header>
    </Header>
    <div class="tout">
        <div class="container">
            <div class="infoPersonne">
                <h1> {{ prenom }} {{ nom.toUpperCase() }}</h1>
                <h2>Date de naissance : {{ birthYear }}</h2>
                <h2 v-if="deathYear">Date de décès : {{ deathYear }} </h2>
                <h2>Profession : {{ profession }}</h2>
            </div>

        </div>

        <h2>Film avec {{ prenom }} {{ nom.toUpperCase() }} :</h2>
        <FilmRow :films="movies"></FilmRow>
    </div>
</template>

<style scoped>
div.tout {
    margin: 20px;
    padding: 10px;
}
div.container {
    display: flex;
    justify-content: center;
}

div.infoPersonne {
    margin: 10px;
    padding: 20px;
    border: 1px solid #e6007e;
    border-radius: 25px;
    text-align: center;
}
</style>