<script setup>
import { ref, onMounted, watch } from 'vue';
import Header from '../components/Header.vue';
import SearchBar from '../components/SearchBar.vue';
import FilmRow from '../components/FilmRow.vue';
import { useRoute } from 'vue-router';
const route = useRoute();

onMounted(() => {
    fetchCriteriaSearchResults();
});

watch(() => route.query, () => {
    fetchCriteriaSearchResults();
});

let films = ref([])

async function fetchSearchResults() {
    const searchTitle = route.query.q
    const params = new URLSearchParams({ title: searchTitle });
    try {
        const response = await fetch(`http://localhost:3000/movies/search?${params.toString()}`, { credentials: 'include' });

        if (response.ok) {
            const data = await response.json();

            if (data) {
                console.log(data);
                films.value = data;
            }
        } else {
            const errorData = await response.json();
            console.error('Error:', response.status, errorData);
        }
    } catch (error) {
        console.error('Error during API call:', error);
    }
}

async function fetchCriteriaSearchResults() {
    let { title, dateMin, dateMax, genres, personnes, order, croissant } = route.query;
    let query = route.query
    console.log(query);

    const params = new URLSearchParams(query);
    try {
        const response = await fetch(`http://localhost:3000/movies/criteriasearch?${params.toString()}`, { credentials: 'include' });

        if (response.ok) {
            const data = await response.json();

            if (data) {
                console.log(data);
                films.value = data;
            }
        } else {
            const errorData = await response.json();
            console.error('Error:', response.status, errorData);
        }
    } catch (error) {
        console.error('Error during API call:', error);
    }
}


</script>

<template>
    <Header>
    </Header>
    <div>
        <SearchBar>
        </SearchBar>
        <FilmRow :films="films"></FilmRow>
    </div>
</template>

<style scoped>
div {
  margin: 20px;
  padding: 5px;
}
</style>